# Google Sign-In Configuration
# Obtenha este ID no Firebase Console > Authentication > Sign-in method > Google > Web client ID
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=364378650714-gdfs0aeobtjopbgrqe8ukjuiklocp5l2.apps.googleusercontent.com
